@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #714a2e30 #2b2a2a;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #2b2a2a;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4f4c4c;
    border-radius: 10px;
    border: 4px solid #2b2a2a;
  }